*{
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: powderblue;
   
}
h1{
    color: blue
}
#steps{
    color: fuchsia;
    font-size: 20px;
}
#create-meme h2{
    color: blue;
}
header body{
    border-style: solid;
    border-width: 4px;
    height: 1050px;
    border-radius: 15px;
    padding: 3px;
        
}
#meme-images{
    display: flex;
    justify-content: center;
    
}
.meme{
    height: 140px;
    width: 170px;
    padding: 2px;
}
#instructions h3{
    color: darkred;
}
.icon{
    font-size: 50px;
    background: transparent;
    border: none;
    color: grey;

}





