*{
    text-align: center;
    box-sizing: border-box;
   
}
body{
    border-style: solid;
    border-width: 4px;
    height: 900px;
    border-color: darkmagenta;
    border-radius: 15px;
    padding: 3px;
    
    
}
#meme-images{
    display: flex;
    justify-content: center;
    
}
.meme{
    height: 140px;
    width: 170px;
    padding: 2px;
}
#instructions h3{
    color: darkred;
}
.star{
    color: blue;
    border: none;
    
}

