*{
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
header{
    background-color: rgba(66, 188, 151, 0.504);
    padding-top: 25px;
}
body{
    background-color: rgba(29, 116, 86, 0.422);
}
h1{
    color: blue;
    font-weight: 100px;
}
#steps{
    color: blue;
    font-size: 15px;
}
#create-meme h2{
    color: blue;
}
header body{
    border-style: solid;
    border-width: 4px;
    height: 1050px;
    border-radius: 15px;
    padding: 3px;
        
}
#meme-images{
    display: flex;
    justify-content: center;
    padding-top: 3px;
    
}
#steps{
    background-color: lightslategray;
    size: 5px;
}
#steps h3 em{
    background-color: lightslategrey;
}
.meme{
    height: 140px;
    width: 170px;
    padding: 2px;
}
#instructions h3{
    color: darkred;
}
.icon{
    font-size: 50px;
    background: transparent;
    border: none;
    color: grey;

}
#user-name{
    background-color: white;
}
#user-image{
    background-color: white;
}
#add{
    background-color: violet;
    font-size: 20px;
 }
 




